.nav-button {
  text-decoration: none;
  color: blue;
  background-color: rgb(166, 165, 165, .7); 
  font-weight: 500;
  font-size: x-large;
  text-align: left;
}

.nav-button:hover {
  text-decoration: none;
  color: blue;
  background-color: white;
}

.nav-background {
  border-bottom: 1px solid black;
}

.nav-background:hover {
  background-color: white;
  border-bottom: 1px solid black;
}

.side-bar {
  display: flex;
  flex-direction: column; 
  background-color: rgb(166, 165, 165, .7); 
  padding-top: 2rem;
}