.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: x-large;
}

.nav-link:hover {
  text-decoration: none;
  color: blue;
  background-color: white;
}

.nav-background {
  border-bottom: 1px solid black;
}

.nav-background:hover {
  background-color: white;
  border-bottom: 1px solid black;
}