.dashboard { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monitors {
  display: flex;
  justify-content: space-evenly;
}

.case-table { 
  border: 1px solid black;
}

.monitor1 {
  background-color: green;
}

.monitor2 {
  background-color: yellow;
}

.monitor3 {
  background-color: red;
}